<div>
  <%= flash[:notice] %>
</div>


<div>
  <p><%= @book.title %></p>
  <p><%= @book.body %></p>
  <%= link_to user_path(@book.user_id) do %>
    <%= image_tag @book.user.get_profile_image(100,100) %>
  <% end %>
  <%= link_to user_path(@book.user_id) do %>
    <%= @book.user.name %>
  <% end %>
  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book.id) %>
  <% end %>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>